.input {
  width: 400px;
  height: 200px;
  margin: 20px auto;
  text-align: center;
  line-height: 200px;
  border: 2px dashed var(--primary-color);
  cursor: pointer;
}

.inputFile {
  text-align: center;
}

.dragging {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.success {
  color: green;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
