.input {
  width: 400px;
  height: 200px;
  margin: 20px auto;
  text-align: center;
  line-height: 200px;
  border: 2px dashed #ccc;
  cursor: pointer;
}

.inputFile {
  text-align: center;
}

.dragging {
  border-color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}
