.main {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  min-height: 100vh;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1;
  font-weight: bold;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
